.ui-body-none{
    padding: 0;
}
.img-responsive{
    max-width: 100%;
    height: auto;
    display: block;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.test{
    margin: 0;
    padding: 0;
}
#p2_1{
    overflow: hidden;
}
.group1{
    margin-top:1em;;
}
.group2{
    margin-top:1em;;
}
.group3{
    margin-top:1em;;
}
.jqm-footer{
    font-size: 0.8em;
}

.thumbItem{
    margin-top: 1em;
}