.ui-body-none{
    padding: 0;
}


.test{
    margin: 0;
    padding: 0;
}
#p2_1{
    overflow: hidden;
}
.group1{
    margin-top:1em;;
}
.group2{
    margin-top:1em;;
}
.group3{
    margin-top:1em;;
}